<div class="min-h-screen flex items-center justify-center bg-white">
  <div class="w-full max-w-lg p-4 md:p-6">
    <!-- CARD -->
    <div class="bg-gradient-to-r from-primary to-red-300 rounded-3xl shadow-2xl overflow-hidden">
      <div class="p-6 md:p-8">
        <!-- PROGRESO -->
        <div class="mb-6">
          <div class="flex items-center justify-between">
            <div class="flex-1 h-2 bg-gray-600 rounded-full">
              <div
                [ngStyle]="{ width: (currentStep / 3 * 100) + '%' }"
                class="h-2 bg-gradient-to-r from-teal-500 to-teal-200 rounded-full transition-all duration-300"
              ></div>
            </div>
            <div class="ml-3 text-sm text-white">
              Paso {{ currentStep }} de 3
            </div>
          </div>
        </div>

        <!-- FORM-->
        <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
          <!-- STEP 1 -->
          @if (currentStep === 1){
            <app-register-step1
              [parentForm]="registerForm"
              (nextStep)="goToNextStep()"
            ></app-register-step1>
          }
          <!-- STEP 2 -->
          @if (currentStep === 2){
            <app-register-step2
              [parentForm]="registerForm"
              (nextStep)="goToNextStep()"
              (previousStep)="goToPreviousStep()"
            ></app-register-step2>
          }
          <!-- STEP 3 -->
          @if (currentStep === 3){
            <app-register-step3
              [parentForm]="registerForm"
              (previousStep)="goToPreviousStep()"
            ></app-register-step3>
          }
        </form>
      </div>
    </div>
  </div>
</div>

  