<section class="py-12 px-6 bg-white">
  <div class="max-w-6xl mx-auto text-center">
    <h1 class="text-4xl font-bold text-primary mb-8">EJERCICIOS INTERACTIVOS</h1>
    <p class="text-sm md:text-base leading-relaxed text-gray-600 mb-6">
      Practica a tu propio ritmo con ejercicios diseñados por
      <strong>Savio Mascolo, ex-tartamudo</strong> que comparte sus
      <strong>técnicas</strong>
      más efectivas para que tú también hables con seguridad y soltura.
    </p>
  </div>
  <div>
    <app-cards-exercises></app-cards-exercises>
  </div>
</section>


