<!-- Main container (role="main" to indicate primary content) -->
<div
  class="flex flex-col items-center justify-center min-h-screen bg-white p-4"
  role="main"
  aria-labelledby="forgot-password-title"
>
  <div
    class="w-full max-w-md sm:max-w-lg md:max-w-2xl bg-gradient-to-r from-primary to-red-300 rounded-3xl shadow-2xl overflow-hidden p-6 sm:p-8 md:p-12"
  >
    <!-- Page title  -->
    <h2
      id="forgot-password-title"
      class="text-xl sm:text-2xl md:text-4xl font-bold text-center mb-12 text-white uppercase"
    >
      🔑 Recuperar Contraseña
    </h2>

    <!-- Forgot Password form -->
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPassword()">
      <!-- Email field -->
      <app-text-input
        [control]="forgotPasswordForm.controls.email"
        label="Email"
        placeholder="Email"
        type="email"
      ></app-text-input>

      <!-- Submit button -->
      <app-my-button
        label="Enviar enlace"
        color="secondary"
        [disabled]="forgotPasswordForm.invalid"
        [buttonType]="'submit'"
      >
      </app-my-button>
    </form>

    <!-- Success message -->
    @if (forgotSuccess) {
      <div
        class="bg-green-50 border-l-4 border-green-400 text-green-700 p-2 rounded-md mt-2"
        role="alert"
        aria-live="assertive"
      >
        {{ forgotSuccess }}
      </div>
    }

    <!-- Error message -->
    @if (forgotError) {
      <div
        class="bg-red-50 border-l-4 border-red-400 text-red-700 p-2 rounded-md mt-2"
        role="alert"
        aria-live="assertive"
      >
        {{ forgotError }}
      </div>
    }
  </div>
</div>
