<section
  aria-labelledby="r-emission-title"
  class="relative py-6 px-8 bg-red-50 border-l-4 border-red-400 p-4 rounded-md shadow-sm overflow-hidden"
>
  <div class="flex items-center justify-center mb-3 gap-2">
    <h2 id="r-emission-title" class="text-4xl font-bold mb-8 text-red-500">
      Pasos para realizar el ejercicio
    </h2>
  </div>
  <div class="text-2xl">
    <ol class="list-decimal ml-5 space-y-6 text-gray-600">
      <li>
        <strong class="text-red-500">Preparación para la emisión de la R:</strong>
        <p class="ml-1 mt-1">
          Colocar los labios y la lengua en posición para la consonante R.
          <br />
          Asegurarse de que la apertura de la boca sea horizontal y con una posición dental estrecha, similar a la apertura para la vocal I.
        </p>
      </li>
      <li>
        <strong class="text-red-500">Transición rápida por la consonante precedente:</strong>
        <p class="ml-1 mt-1">
          Emitir rápidamente la consonante que precede a la R (en este caso, la P en pronto).
          <br />
          Evitar prolongar o bloquear en esta consonante inicial.
        </p>
      </li>
      <li>
        <strong class="text-red-500">Prolongación del sonido R:</strong>
        <p class="ml-1 mt-1">
          Una vez que se llegue al sonido R, prolongarlo durante al menos cinco tiempos.
          <br />
          <em>Ejemplo:</em> prrrrronto, con un énfasis continuo en la R.
        </p>
      </li>
    </ol>
  </div>
</section>

