<section class="py-6 px-6">
  <!-- Title block -->
  <div class="max-w-6xl mx-auto">
    <h2
      class="text-5xl font-bold text-primary text-center tracking-widest mt-6"
    >
      Vuestras Experiéncias Practicando
    </h2>
    <!-- Cards block -->
    <div class="w-full  h-[500px] relative overflow-hidden">
      @for (idx of visibleIndexes(); track idx) { @if (idx >= 0 && idx <
      reviews().length) {
      <div
        class="carousel-item absolute top-1/2 left-1/2 md:w-[500px] w-full"
        [ngClass]="getPositionClass(idx)"

      >
        <div
          class="bg-gray-100 rounded-lg p-8 shadow flex flex-col transition-all duration-300 ease-in-out hover:shadow-2xl hover:bg-gray-50 hover:-translate-y-1 cursor-pointer text-center mx-auto"
        >
          <i class="fas fa-user-circle text-5xl text-primary mb-4"></i>
          <div class="flex justify-center mb-2">
            @for (star of [1,2,3,4,5]; track star) {
            <i
              class="fas fa-star"
              [ngClass]="{
                'text-yellow-400': star <= reviews()[idx].rating,
                'text-gray-300': star > reviews()[idx].rating
              }"
            ></i>
            }
          </div>

          <p class="text-gray-600 italic mb-4 text-base md:text-lg">
            {{ reviews()[idx].text }}
          </p>

          <h4 class="font-bold text-primary text-base md:text-lg">
            {{ reviews()[idx].author }}
          </h4>
        </div>
      </div>
      } }

      <!-- Navigation buttons -->
      <div
        class="flex w-full absolute top-[70%] z-50 mt-8"
        [ngClass]="{
          'justify-between':
            currentIndex() > 0 && currentIndex() < reviews().length - 1,
          'justify-end': currentIndex() === 0,
          'justify-start': currentIndex() === reviews().length - 1
        }"
      >
        @if (currentIndex() > 0) {
        <app-my-button
          [color]="'circle'"
          (clicked)="prev()"
          [label]="'❮'"
        ></app-my-button>
        } @if (currentIndex() < reviews().length - 1) {
        <app-my-button
          [color]="'circle'"
          (clicked)="next()"
          [label]="'❯'"
        ></app-my-button>
        }
      </div>
    </div>
  </div>
</section>
