<section 
  aria-labelledby="vocal-final-inicial-title" 
  class="relative py-6 px-8 bg-red-50 border-l-4 border-red-400 p-4 rounded-md shadow-sm overflow-hidden"
>
  <div class="flex items-center justify-center mb-3 gap-2">
    <h2 
      id="vocal-final-inicial-title" 
      class="text-4xl font-bold mb-8 text-red-500"
    >
      Vocal Final - Vocal Inicial
    </h2>
  </div>
  <div class="text-2xl">
    <p class="mb-6 text-gray-600">
        La combinación de vocal final y vocal inicial aparece en varios contextos:
      </p>
    
      <ol class="list-decimal ml-5 space-y-6 text-gray-600">
        <li>
          <strong class="text-red-500">Vocal – Vocal:</strong>
          <em class="ml-1">
            "Fue agradable."
          </em>
          Se conectan en una sola respiración.
        </li>
        <li>
          <strong class="text-red-500">Vocal – H o Y – Vocal:</strong>
          <em class="ml-1">
            "Mi hermano", "Soy alto", "Savio y Antonio"
          </em>.
          Aunque haya una consonante suave o una <em>H</em> muda, la fluidez se mantiene.
        </li>
        <li>
          <strong class="text-red-500">Consonante – Vocal:</strong>
          <em class="ml-1">
            "Mis amigos"
          </em>.
          No hay dos vocales directas, pero se evita la pausa innecesaria.
        </li>
      </ol>
  </div>
</section>
