<div class="animate-fadeInDown">
    <h2 class="text-2xl font-bold text-center mb-4 text-white">
      ¡EMPECEMOS! ✅
    </h2>
  </div>

  <!-- Nombre -->
  <app-text-input
    [control]="parentForm.controls['name']"
    label="Nombre"
    placeholder="Nombre"
    type="text"
  ></app-text-input>

  <!-- Apellido -->
  <app-text-input
    [control]="parentForm.controls['surname']"
    label="Apellido"
    placeholder="Apellido"
    type="text"
  ></app-text-input>
  
  <!-- Botón Siguiente -->
  <app-my-button
    label="Siguiente"
    color="secondary"
    (clicked)="goNext()"
    [disabled]="parentForm.controls['name'].invalid || parentForm.controls['surname'].invalid"
  ></app-my-button>
  