<nav class="bg-white px-6 py-4 border-b fixed top-0 left-0 w-full z-50">
  <!-- Pantallas pequeñas -->
  <div class="flex w-full items-center lg:hidden">
    <!-- Menú hamburguesa -->
    <div class="mr-auto relative">
      <!-- Botón para abrir/cerrar menú -->
      <button (click)="toggleMenu()" class="btn bg-primary cursor-pointer hover:bg-teal-400">
        <i class="fas fa-bars text-white"></i>
      </button>
      <!-- Menú desplegable -->
      @if(isMenuOpen){
        <ul class="absolute bg-white rounded-box shadow p-4 w-52 mt-2 space-y-4">
          @for(link of mobileMenuLinks; track $index){
            <li>
              <a [routerLink]="link.routerLink" class="title-link text-lg text-primary hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer">
                @if(link.icon){
                  <i class="{{ link.icon }} mr-2"></i>
                }
                {{ link.label }}
              </a>
            </li>
          }
        </ul>
      }
    </div>
    <!-- Logo -->
    <div class="ml-auto">
      <img ngOptimizedImage [src]="logoUrl" alt="Hablyo Logo" class="h-12">
    </div>
  </div>

  <!-- Pantallas grandes -->
  <div class="hidden lg:flex w-full items-center justify-between">
    <!-- Main Links -->
    <div class="flex gap-6">
      @for(link of mainLinks; track $index){
        <a [routerLink]="link.routerLink" class="title-link font-bold text-primary hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer">
          {{ link.label }}
        </a>
      }
    </div>
    <!-- Logo -->
    <div>
      <img ngOptimizedImage [src]="logoUrl" alt="Hablyo Logo" class="h-12">
    </div>
    <!-- Auth Links -->
    <div class="flex gap-6">
      @if(authService.isLoggedSignal()){
        <a (click)="logout()" class="title-link font-bold text-primary hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer">
          CERRAR SESIÓN
        </a>
      }@else {
        <a routerLink="/login" class="title-link font-bold text-primary hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer">
          <i class="fa-solid fa-arrow-right-to-bracket mr-2"></i> INICIAR SESIÓN
        </a>
      }
      <a routerLink="/registro-usuario" class="title-link font-bold text-primary hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer">
        <i class="fas fa-user mr-2"></i> REGISTRO
      </a>
    </div>
  </div>
</nav>



  
  
  
  