<footer class="bg-slate-900 text-white py-8 px-10">
  <div class="mx-auto flex flex-col md:flex-row justify-between items-center gap-6">
    <!-- LOGO + INFO -->
    <div class="order-1 md:order-2 flex flex-col items-center md:items-start gap-2">
      <img ngOptimizedImage [src]="logoUrl" alt="Hablyo Logo" class="h-14 cursor-pointer"/>
      <!-- Datos de contacto -->
      <p class="text-sm">
        <a [href]="websiteUrl" class="hover:underline cursor-pointer text-white">
          {{ websiteUrl }}
        </a>
      </p>
      <p class="text-sm">
        <a [href]="'mailto:' + email" class="hover:underline cursor-pointer text-white">
          {{ email }}
        </a>
      </p>
      <p class="text-sm">
        <a [href]="whatsappUrl" target="_blank" rel="noopener noreferrer" class="hover:underline cursor-pointer text-white">
          {{ phone }}
        </a>
      </p>
    </div>
    <!-- REDES SOCIALES -->
    <div class="order-2 md:order-3 flex items-center gap-4">
      <a [href]="instagramUrl" target="_blank" rel="noopener noreferrer" class="cursor-pointer flex items-center justify-center hover:scale-110 transition-transform duration-200">
        <i class="fab fa-instagram text-4xl text-pink-400 hover:text-pink-500"></i>
      </a>
      <a [href]="whatsappUrl" target="_blank" rel="noopener noreferrer" class="cursor-pointer hover:scale-110 transition-transform duration-200">
        <i class="fab fa-whatsapp text-4xl text-green-400 hover:text-green-500"></i>
      </a>
    </div>
    <!-- LINKS de políticas -->
    @for(link of policyLinks; track $index){
    <div class="order-3 md:order-1 flex flex-col text-sm gap-2 text-center md:text-left">
      <a [routerLink]="link.url" class="hover:underline cursor-pointer">
        {{ link.label }}
      </a>
    </div>
    }
  </div>
</footer>

    <!-- noopener noreferrer -> mejorar seguridad y privacidad -->
