.icon-drag {
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 6px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: move;
    user-select: none; /* Evita que se seleccione el texto al arrastrar */
    padding-bottom: 6px;

  }
  