<section
  aria-labelledby="doble-vocal-title"
  class="relative py-6 px-8 bg-red-50 border-l-4 border-red-400 p-4 rounded-md shadow-sm overflow-hidden"
>
  <div class="flex items-center justify-center mb-3 gap-2">
    <h2
      id="doble-vocal-title"
      class="text-4xl font-bold mb-8 text-red-500"
    >
      Pasos para realizar el ejercicio
    </h2>
  </div>
  <div class="text-2xl">
    <ol class="list-decimal ml-5 space-y-6 text-gray-600">
      <li>
        <strong class="text-red-500">Preparación de la vocal inicial:</strong>
        <p class="ml-1 mt-1">
          Colocar los labios en la posición de la primera vocal de la palabra.
          <br />
          <em>Ejemplo:</em> En "piano", preparar los labios en posición de la <em>i</em>.
        </p>
      </li>
      <li>
        <strong class="text-red-500">Transición rápida por la consonante:</strong>
        <p class="ml-1 mt-1">
          Pasar por la consonante precedente a la vocal <em>i</em> (p, en este caso) de manera rápida y fluida para evitar el bloqueo.
        </p>
      </li>
      <li>
        <strong class="text-red-500">Prolongación de la primera vocal:</strong>
        <p class="ml-1 mt-1">
          Alargar el sonido de la primera vocal (<em>i</em>) durante al menos cinco tiempos.
          <br />
          <em>Ejemplo:</em> Decir <em>piiiii-ano</em>.
        </p>
      </li>
    </ol>
  </div>
</section>
