<div class="animate-fadeInDown">
  <h2 class="text-2xl font-bold text-center mb-4 text-white">
    ¡ÚLTIMO PASO! 📝
  </h2>
</div>

<!-- Email -->
<app-text-input
  [control]="parentForm.controls['email']"
  label="Email"
  placeholder="Email"
  type="email"
></app-text-input>

<!-- Password -->
<app-text-input
  [control]="parentForm.controls['password']"
  label="Contraseña"
  placeholder="Contraseña"
  type="password"
></app-text-input>

<!-- Repeat Password -->
<app-text-input
  [control]="parentForm.controls['repeatPassword']"
  label="Repetir Contraseña"
  placeholder="Repetir Contraseña"
  type="password"
></app-text-input>
