<nav class="bg-white px-6 py-4 border-b fixed top-0 left-0 w-full z-50">
  <!-- Pantallas pequeñas -->
  <div class="flex w-full items-center lg:hidden">
    <!-- Menú hamburguesa a la IZQUIERDA -->
    <div class="mr-auto">
      <div class="dropdown">
        <label tabindex="0" class="btn bg-primary cursor-pointer hover:bg-secondary hover:opacity-80">
          <i class="fas fa-bars text-white"></i>
        </label>
        <!-- Menú desplegable -->
        <ul tabindex="0" class="dropdown-content menu p-4  bg-white rounded-box w-52">
          <li><a routerLink="/" class="title-link text-lg text-primary hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer">Inicio</a></li>
          <li><a routerLink="/exercices" class="title-link text-lg text-primary hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer">Ejercicios</a></li>
          <li><a routerLink="/progress" class="title-link text-lg text-primary hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer">Progreso</a></li>
          <li><a routerLink="/login" class="title-link text-lg text-primary hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer"><i class="fa-solid fa-arrow-right-to-bracket"></i>Área personal</a></li>
          <li><a routerLink="/signup" class="title-link text-lg text-primary hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer"><i class="fas fa-user"></i> Registrarse</a></li>
        </ul>
      </div>
    </div>
    <!-- Logo -->
    <div class="ml-auto">
      <img src="assets/Logos/hablyo_red_logo.png" alt="Hablyo Logo" class="h-12">
    </div>
  </div>

  <!-- Pantallas grandes -->
  <div class="hidden lg:flex w-full items-center justify-between">
    <!-- Main Links -->
    <div class="flex gap-6">
      <a routerLink="/" class="title-link font-bold text-primary hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer">INICIO</a>
      <a routerLink="/exercices" class="title-link font-bold text-primary hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer">EJERCICIOS</a>
      <a routerLink="/progress" class="title-link font-bold text-primary hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer">PROGRESO</a>
    </div>
    <!-- Logo -->
    <div>
      <img src="assets/Logos/hablyo_red_logo.png" alt="Hablyo Logo" class="h-12">
    </div>
    <!-- Auth Links -->
    <div class="flex gap-6">
      <a routerLink="/login" class="title-link font-bold text-primary  hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer"><i class="fa-solid fa-arrow-right-to-bracket mr-2"></i> ÁREA PERSONAL</a>
      <a routerLink="/signup" class="title-link font-bold text-primary  hover:border-b-2 hover:border-teal-400 pb-1 transition-all duration-100 cursor-pointer"><i class="fas fa-user mr-2"></i> REGISTRO</a>
    </div>
  </div>
</nav>

  
  
  
  