.letter-container {
  position: relative;
  width: 55px;
  height: 90px;
  border: 1px solid #ddd;
  margin: 0 2px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #fff;
}

.the-letter {
  font-size: 1.5rem;
  margin-bottom: 4px;
}

  .mark-above {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #000;
  }
  
  /* Validaciones */
  .correct-letter {
    background-color: #a7f3d0; 
  }
  .wrong-letter {
    background-color: #fecaca; 
  }
  .missed-letter {
    background-color: #fff8c5; 
  }

.circle-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px; 
  height: 90px; 
  border: 4px solid black; 
  border-radius: 50%;
  pointer-events: none;
  z-index: 10;         
}

  