<div
  class="letter-container"
  role="region"
  [attr.aria-label]="'Contenedor de la letra ' + char"
  (dragover)="onDragOver($event)"
  (drop)="onDrop($event)"
  [ngClass]="{
    'correct-letter': finalState === 'correct',
    'wrong-letter': finalState === 'wrong',
    'missed-letter': finalState === 'missed'
  }"
>
  <!-- Display the letter -->
  <span class="the-letter">
    {{ char }}
  </span>

  <!-- Mark above if accent -->
  @if (hasAccent) {
    <span class="mark-above">´</span>
  }

  <!-- Mark above if P -->
  @if (hasP) {
    <span class="mark-above">P</span>
  }

  <!-- Underline dropzone -->
  <app-underline-dropzone
    [underlineValue]="underlineValue"
    [resultState]="resultUnderline"
    (droppedOnUnderline)="onDropUnderline($event)"
  >
  </app-underline-dropzone>
</div>
