.letter-container {
  position: relative;
  width: 40px;
  height: 80px;
  border: 1px solid #ddd;
  margin: 0 2px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #fff;
}

.the-letter {
  font-size: 1.2rem;
  margin-bottom: 4px;
}

  .mark-above {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    color: #000;
  }
  
  /* Validaciones */
  .correct-letter {
    background-color: #a7f3d0; 
  }
  .wrong-letter {
    background-color: #fecaca; 
  }
  .missed-letter {
    background-color: #fff8c5; 
  }
  