<!-- Main container (role="main" to indicate primary content) -->
<div
  class="flex flex-col items-center justify-center min-h-screen bg-white p-4"
  role="main"
  aria-labelledby="reset-password-title"
>
  <div
    class="w-full max-w-md sm:max-w-lg md:max-w-2xl bg-gradient-to-r from-primary to-red-300 rounded-3xl shadow-2xl overflow-hidden p-6 sm:p-8 md:p-12"
  >
    <!-- Page title  -->
    <h2
      id="reset-password-title"
      class="text-xl sm:text-2xl md:text-4xl font-bold text-center mb-12 text-white uppercase"
    >
      🔑 Restablecer Contraseña
    </h2>

    <!-- Reset Password form -->
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <!-- Nueva contraseña -->
      <app-text-input
        [control]="resetForm.controls.newPassword"
        label="Nueva contraseña"
        placeholder="Nueva contraseña"
        type="password"
      ></app-text-input>

      <!-- Confirmar contraseña -->
      <app-text-input
        [control]="resetForm.controls.confirmPassword"
        label="Confirmar contraseña"
        placeholder="Confirmar contraseña"
        type="password"
      ></app-text-input>

      <!-- Botón para enviar el formulario -->
      <app-my-button
        label="Cambiar Contraseña"
        color="secondary"
        [disabled]="resetForm.invalid"
        [buttonType]="'submit'"
      >
      </app-my-button>
    </form>

    <!-- Success message (usando @if) -->
    @if (successMessage) {
      <div
        class="bg-green-50 border-l-4 border-green-400 text-green-700 p-2 rounded-md mt-2"
        role="alert"
        aria-live="assertive"
      >
        {{ successMessage }}
      </div>
    }

    <!-- Error message (usando @if) -->
    @if (errorMessage) {
      <div
        class="bg-red-50 border-l-4 border-red-400 text-red-700 p-2 rounded-md mt-2"
        role="alert"
        aria-live="assertive"
      >
        {{ errorMessage }}
      </div>
    }
  </div>
</div>
